extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hello world!!!
  p Just trying out some node.js with continuous deployment to Azure
  p Updated to deploy from live branch instead of master
